/*Set box-sizing to border-box*/
*, *::before, *::after {box-sizing: inherit; }

html {
	box-sizing: border-box;
	overflow-y: hidden;
}

h1, h2, h3, h4, h5, p {
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Lucida Console", Courier, monospace;
	font-size: 2.5rem;
}

.card > p {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

html {
	background-color: rgb(218, 179, 6);
}

.container {
	display: grid;
	grid-template-columns: 2.5fr 5fr;
	grid-template-rows: 1fr 8fr;
	gap: 2rem 2rem;
	height: 100vh;
	padding: 1rem;
	padding-bottom: 5rem;
}

.form {
	text-align: center;
	border-style: solid;
}

.form, .books {
	background-color: whitesmoke;
}

.form-heading, .book-heading {
	font-size: 1.5rem;
	align-self: end;
	justify-self: center;
}

.books {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	border-style: solid;
	text-align: center;
}

.card {
	border-style: solid;
	font-family: "Lucida Console", Courier, monospace;
}

/*Styling of the toggle switch for the readStatus*/
input[type="checkbox"] {
	position: relative;
	width: 50px;
	height: 25px;
	-webkit-appearance: none;
	background: #c6c6c6;
	outline: none;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
	transition: .5s;
}

input:checked[type="checkbox"] {
	background: rgb(5, 181, 5);
}

input[type="checkbox"]:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	border-radius: 12.5px;
	top: 0;
	left: 0;
	background-color: #fff;
	transform: scale(1.1);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}

input:checked[type="checkbox"]:before {
	left: 25px;
}